#root {
    height: 100%;
}

.App {
    height: 100%;
}

a {
    text-decoration: none;
}

.header {
    background-color: rgb(7, 10, 68);
    width: 100%;
    height: 100px;
    padding: 5px 30px;
    display: flex;
    align-items: center;
}

.nav-content {
    transition: width 2s;
}

.menu-icon {
    color: #fff;
    font-size: 40px;
}

.menu-icon:hover {
    cursor: pointer;
}

.menuRight {
    width: 15%;
    height: calc(100vh - 100px);
    background-color: rgb(7, 10, 68);
    padding: 30px 25px;
    overflow-x: hidden;
    transition: 0.5s;
    animation-name: example;
    animation-duration: 0.4s;
}

@keyframes example {
    from {
        padding: 0px;
        width: 0%;
    }

    to {
        padding: 30px 25px;
        width: 15%;
    }
}

@keyframes example2 {
    from {

        padding: 30px 25px;
        width: 15%;
    }

    to {
        padding: 0px;
        width: 0%;
    }
}

.menu {
    display: flex;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.menuLogo {
    margin-right: 20px;
}

.flex {
    display: flex;
}

.content {
    padding: 10px 10px;
}

.hide {
    display: none;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Countries {
    width: 100%;
}

.mr-15 {
    margin-right: 15px;
}

.tableCountries {
    align-items: center;
}